<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/admin/css/view.css"/>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="form-box">
                <div class="layui-form layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="phone_num" autocomplete="off" class="layui-input"
                                   placeholder="输入要查询的号码">
                        </div>
                        <button class="layui-btn layui-btn-blue" onclick="search()">查询</button>
                        <button class="layui-btn layui-btn-primary" onclick="reset()">重载</button>
                    </div>
                </div>
                <table id="tablePhone" lay-filter="tablePhone"></table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/html" id="show">
    <input type="checkbox" lay-skin="switch" lay-text="显示|隐藏" lay-filter="show"
           value="{{ d.show }}" name="{{ d.id }}" {{
           d.show== 1
           ? 'checked' : '' }}>
</script>
<script type="text/html" id="message_save">
    <input type="checkbox" lay-skin="switch" lay-text="保存|不保存" lay-filter="message_save"
           value="{{ d.message_save }}" name="{{ d.id }}" {{
           d.message_save== 1
           ? 'checked' : '' }}>
</script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="getCheckData">删除选中的数据</button>
    </div>
</script>

<script>
    var element = layui.element
    var table = layui.table
    var form = layui.form

    //展示已知数据
    table.render({
        elem: '#tablePhone'
        , url: 'tabledata'
        , cellMinWidth: 80
        , toolbar: '#toolbar'
        , cols: [[ //标题栏
            {type: 'checkbox'}
            , {field: 'id', title: 'ID', sort: true}
            , {field: 'url', title: '网址'}
            , {field: 'show', title: '显示', sort:true, templet: '#show'}
            , {field: 'message_save', title: '保存模式', sort:true, templet: '#message_save'}
            , {field: 'create_time', title: '创建时间', sort: true}
        ]]
        , skin: 'line' //表格风格
        , even: true
        , page: true //是否显示分页
        , limit: 15 //每页默认显示的数量
    })

    //搜索重载
    function search() {
        var phone_num = $('#phone_num').val()
        if (!phone_num) {
            layer.msg('请输入查询号码', {icon: 2, anim: 6})
        }
        //执行重载
        table.reload('tablePhone', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                reset: '',
                data: {
                    phone_num: phone_num
                }
            }
        }, 'data')
    }

    function reset() {
        window.location.reload()
    }
</script>
<script>
    form.on('switch(show)', function (eve) {
        //var key = $("input[lay-filter='show']").val()
        console.log(eve)
        $.ajax({
            url: 'check01',
            type: 'post',
            data: {value: eve.value, warehouse_id:eve.elem.name, field:'show'},
            success: function (e) {
                if (e.error_code != 0) {
                    layer.msg(e.msg, {icon: 2, anim: 6})
                } else {
                    layer.msg(e.msg, {icon: 1, anim: 6})
                }
            }
        })
    })
    form.on('switch(message_save)', function (eve) {
        //var key = $("input[lay-filter='show']").val()
        console.log(eve)
        $.ajax({
            url: 'check01',
            type: 'post',
            data: {value: eve.value, warehouse_id:eve.elem.name, field:'message_save'},
            success: function (e) {
                if (e.error_code != 0) {
                    layer.msg(e.msg, {icon: 2, anim: 6})
                } else {
                    layer.msg(e.msg, {icon: 1, anim: 6})
                }
            }
        })
    })
    //工具栏事件
    table.on('toolbar(tablePhone)', function (obj) {
        layer.confirm('确定要删除吗', {btn: ['坚决删除', '不删除']}, function () {
            var checkStatus = table.checkStatus(obj.config.id)
            var data = checkStatus.data;
            $.ajax({
                url: '',
                type: 'post',
                data: {data: data},
                success: function (e) {
                    if (e.error_code != 0) {
                        layer.msg(e.msg, {icon: 2, anim: 6})
                    } else {
                        layer.msg(e.msg, {icon: 1, anim: 6}, function () {
                            window.location.reload()
                        })
                    }
                }
            })
        })
    })
</script>
</body>
</html>