<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/admin/css/view.css"/>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="form-box">
                <div class="layui-form layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="search_title" autocomplete="off" class="layui-input"
                                   placeholder="输入要查询的内容">
                        </div>
                        <div class="layui-inline">
                          <div class="layui-input-inline">
                            <input type="text" name="startDate" id="startDate" lay-verify="date" placeholder="开始日期" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                          <div class="layui-input-inline">
                            <input type="text" name="endDate" id="endDate" lay-verify="date" placeholder="结束日期" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-blue" onclick="search()">查询</button>
                            <button class="layui-btn layui-btn-primary" onclick="reset()">重载</button>
                        </div>
                        
                    </div>
                </div>
                <table id="tablePhone" lay-filter="tablePhone"></table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="getCheckData">删除选中的数据</button>
    </div>
</script>

<script>
    var element = layui.element
    var table = layui.table
    var form = layui.form
    var laydate = layui.laydate
    
    //日期
  laydate.render({
    elem: '#startDate'
  });
  laydate.render({
    elem: '#endDate'
  });

    //展示已知数据
    table.render({
        elem: '#tablePhone'
        , url: 'firebaseUserTableData'
        , cellMinWidth: 80
        , toolbar: '#toolbar'
        , cols: [[ //标题栏
            {type: 'checkbox'}
            , {field: 'id', title: 'ID', sort: true, width:80}
            , {field: 'user', title: '邮箱', sort: true}
            , {field: 'user_id', title: 'user_id'}
            , {field: 'coins', title: '分数', sort: true, edit:'text', width:100}
            , {field: 'access_token_number', title: 'access', sort: true, width:100}
            , {field: 'refresh_token_number', title: 'refresh', sort: true, width:100}
            , {field: 'version', title: '版本', sort: true, width:120}
            , {field: 'ip', title: 'ip地址', sort: true}
            , {field: 'update_time', title: '更新时间', sort: true, width:180}
            , {field: 'create_time', title: '创建时间', sort: true, width:180}
        ]]
        , skin: 'line' //表格风格
        , even: true
        , page: true //是否显示分页
        , limit: 15 //每页默认显示的数量
        , limits: [15,100,300,500,1000]
    })

    //搜索重载
    function search() {
        var title = $('#search_title').val()
        var startDate = $('#startDate').val()
        var endDate = $('#endDate').val()
        if (startDate && !endDate) {
            layer.msg('请输入完整的开始和结束时间', {icon: 2, anim: 6})
            return
        }
        //执行重载
        table.reload('tablePhone', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                search: '',
                data: {
                    title: title.trim(),
                    startDate: startDate.trim(),
                    endDate: endDate.trim()
                }
            }
        }, 'data')
    }

    function reset() {
        window.location.reload()
    }
</script>
<script>
    //工具栏事件
    table.on('toolbar(tablePhone)', function (obj) {
        layer.confirm('确定要删除吗', {btn: ['坚决删除', '不删除']}, function () {
            var checkStatus = table.checkStatus(obj.config.id)
            var data = checkStatus.data;
            $.ajax({
                url: 'deleteFirebaseUserMany',
                type: 'post',
                data: {data: data},
                success: function (e) {
                    if (e.error_code != 0) {
                        layer.msg(e.msg, {icon: 2, anim: 6})
                    } else {
                        layer.msg(e.msg, {icon: 1, anim: 6}, function () {
                            window.location.reload()
                        })
                    }
                }
            })
        })
    })

    //监听单元格编辑
    table.on('edit(tablePhone)', function(obj){
        var value = obj.value //得到修改后的值
            ,data = obj.data //得到所在行所有键值
            ,field = obj.field //得到字段

        $.ajax({
            url: 'updateFirebaseUserField',
            type: 'post',
            data: {id: data['id'], value: value, field: field},
            success: function (e) {
                if (e.error_code != 0) {
                    layer.msg(e.msg, {icon: 2, anim: 6})
                } else {
                    layer.msg(e.msg, {icon: 1, anim: 6})
                }
            }
        })
    })
</script>
</body>
</html>